body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.hero {
    background: url('/images/food-background.jpg') no-repeat center center/cover;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero h1 { font-size: 100px; 
    font-weight: bold;
}
.hero h2 {
    font-size: 30px;
    font-weight: bold;
}


.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: 75%;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search-bar button {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.auth-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.auth-buttons button {
    background: #db2a2a;
    color: #ffffff;
    border-color: rgb(222, 103, 103);
    padding: 8px 15px;
    margin-left: 12px;
    cursor: pointer;
    border-radius: 5px;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.category {
    text-align: center;
}

.category img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}

.category p {
    font-size: 16px;
    margin-top: 10px;
}